.App {
  text-align: center;
}

button .redirectToAboutbtn {
  text-align: center;
  border-radius: 30px;
  background-color: green;
  font-size: 20px;
  width: 35%;
  min-width: 207px;
  margin: 20px;
  display: inline-block;
}

button .redirectToAboutbtn:hover {
  border-radius: 30px;
  background-color: deeppink;
}

/* Game List CSS */
.gameList {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  margin-left: 5px;
}

/* Game Card CSS */
.gameCard {
  background-color: rgba(64, 64, 64, 1);
  width: 400px;
  padding: auto;
  margin: auto;
  border: black 5px solid;
  border-radius: 30px;
  display: grid;
  grid-template-areas: 'gamepic gamepic gamepic'
                       'icongroup1 gametext gametext'
                       'icongroup2 icongroup2 icongroup2';
  gap: 10px;
}

/* gamePic CSS */
.gameCard > .gamePic {
  grid-area: gamepic;
}

.gameCard > .gamePic img {
  height: 400px;
  max-width: 100%;
  border-radius: 30px;
  grid-area: gamepic;
}

/* gametext CSS */
.gameCard > .gametext {
  color: white;
  font-family: sans-serif;
  grid-area: gametext;
  text-transform: capitalize;
  text-justify: left;
  text-align: center;
}

/* iconGroup1 CSS */
.gameCard > .iconGroup1 {
  position: relative;
  height: auto;
  max-width: 100%;
  grid-area: icongroup1;
  left: 20px;
}

.gameCard > .iconGroup1 > .ratingGroup > .ratingtext{
  position: absolute;
  left: 14px;
  top: 20px;
  color: black;
}

.gameCard > .iconGroup1 img {
  height: 50px;
  max-width: 100%;
  grid-area: icongroup1;
}

.gameCard > .iconGroup1 img > .rating_icon {
  height: auto;
  max-width: 100%;
  grid-area: icongroup1;
}

/* iconGroup2 CSS */
.gameCard > .iconGroup2 {
  position: relative;
  left: 14px;
  grid-area: icongroup2;
}

.gameCard > .iconGroup2 img {
  height: 50px;
  max-width: 100%;
  grid-area: icongroup2;
}

/* Title header CSS */
.titleHeader > h1 {
  text-align: center;
}

/* Footer CSS */

/* Box_footer CSS */
.box_footer {
  padding: 80px 60px;
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.box_footer > h1 {
  color: green;
  text-align: center;
  margin-top: -50px;
}

/* footer container CSS */
.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.footer_container > .footer_row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  grid-gap: 20px;
}

.footer_container > .footer_row > .footer_column {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 60px;
}

.footer_container > .footer_row > .footer_column > .footer_heading {
  font-size: 24px;
  color: #fff;
  margin-bottom: 40px;
  font-weight: bold;
}

.footer_container > .footer_row > .footer_column > .footer_link{
  color: #fff;
  margin-bottom: 20px;
  font-size: 18px;
  text-decoration: none;
}
.footer_container > .footer_row > .footer_column > .footer_link:hover{
  color: green;
  transition: 200ms ease-in;
}

.footer_container > .footer_row > .footer_column > .footer_link span{
  margin-left: 10px;
}

/* Media queries CSS */
@media(max-width: 1000px) {
  .box_footer {
    position: absolute;
    bottom: 0;
    padding: 70px 30px;
  }
  .box_footer h1 {
    color: green;
    text-align: center;
    margin-top: -50px;
  }
  .footer_container > .footer_row {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
