.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Game List CSS */
.gameList {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  margin-left: 20px;
}

/* Game Card CSS */
.gameCard {
  background-color: rgba(64, 64, 64, 1);
  max-width: 400px;
  min-width: 400px;
  padding: auto;
  margin: auto;
  border: black 5px solid;
  border-radius: 30px;
  display: grid;
  grid-template-areas: 'gamepic gamepic gamepic gamepic'
                       'icongroup1 gametext gametext gametext'
                       'icongroup2 icongroup2 icongroup2 icongroup2';
  gap: 10px;
}

/* gamePic CSS */
.gameCard > .gamePic {
  grid-area: gamepic;
}

.gameCard > .gamePic img {
  height: 400px;
  max-width: 100%;
  border-radius: 30px;
  grid-area: gamepic;
}

/* gametext CSS */
.gameCard > .gametext {
  color: white;
  font-family: sans-serif;
  grid-area: gametext;
  text-transform: capitalize;
  text-align: center;
}

/* iconGroup1 CSS */
.gameCard > .iconGroup1 {
  position: relative;
  height: auto;
  max-width: 100%;
  grid-area: icongroup1;
  left: 20px;
}

.gameCard > .iconGroup1 > .ratingGroup > .ratingtext{
  position: absolute;
  left: 14px;
  top: 20px;
  color: black;
}

.gameCard > .iconGroup1 img {
  height: 50px;
  max-width: 100%;
  grid-area: icongroup1;
}

.gameCard > .iconGroup1 img > .rating_icon {
  height: auto;
  max-width: 100%;
  grid-area: icongroup1;
}

/* iconGroup2 CSS */
.gameCard > .iconGroup2 {
  grid-area: icongroup2;
}

.gameCard > .iconGroup2 img {
  height: 50px;
  max-width: 100%;
  grid-area: icongroup2;
}
