.App {
  text-align: center;
}

/* Game List CSS */
.gameList {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  margin-left: 5px;
}

/* Game Card CSS */
.gameCard {
  background-color: rgba(64, 64, 64, 1);
  width: 400px;
  padding: auto;
  margin: auto;
  border: black 5px solid;
  border-radius: 30px;
  display: grid;
  grid-template-areas: 'gamepic gamepic gamepic'
                       'icongroup1 gametext gametext'
                       'icongroup2 icongroup2 icongroup2';
  gap: 10px;
}

/* gamePic CSS */
.gameCard > .gamePic {
  grid-area: gamepic;
}

.gameCard > .gamePic img {
  height: 400px;
  max-width: 100%;
  border-radius: 30px;
  grid-area: gamepic;
}

/* gametext CSS */
.gameCard > .gametext {
  color: white;
  font-family: sans-serif;
  grid-area: gametext;
  text-transform: capitalize;
  text-justify: left;
}

/* iconGroup1 CSS */
.gameCard > .iconGroup1 {
  position: relative;
  height: auto;
  max-width: 100%;
  grid-area: icongroup1;
  left: 20px;
}

.gameCard > .iconGroup1 > .ratingGroup > .ratingtext{
  position: absolute;
  left: 14px;
  top: 20px;
  color: black;
}

.gameCard > .iconGroup1 img {
  height: 50px;
  max-width: 100%;
  grid-area: icongroup1;
}

.gameCard > .iconGroup1 img > .rating_icon {
  height: auto;
  max-width: 100%;
  grid-area: icongroup1;
}

/* iconGroup2 CSS */
.gameCard > .iconGroup2 {
  grid-area: icongroup2;
}

.gameCard > .iconGroup2 img {
  height: 50px;
  max-width: 100%;
  grid-area: icongroup2;
  left: 14px;
}
